@font-face {
    font-family: Jal;
    src: url("Jalnan.ttf");
}
@font-face {
    font-family: ibm;
    src: 'IBM Plex Sans KR', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    text-decoration: none;
    color: black;
    list-style: none;   
    font-family: 'Hahmlet', serif;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.font_12{
    font-size: 12px;
}
.font_Jalnan{
    font-family: Jal;
}
.font_Godic{
    /* font-family: 'Hahmlet', serif; */
    font-family: 'IBM Plex Sans KR', sans-serif;

}
/*--메인페이지-----------------------------------*/
/*--header-----------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0 30px 0;  /*위 오 아래 왼*/
    /*font-family: 'Noto Sans KR Midium', sans-serif; 폰트설정*/
    background-color: rgb(227, 239, 219,0.7) ;
}
.sns{
    display: flex;
    width: 640px;
    font-size:12px;
    justify-content:center;
}
.sns > a{
    padding:20px;
    font-weight: bold;
}
.top_menu{
    display: flex;
    font-size:12px;
    width: 640px;
    justify-content:center;
    flex-direction: row;
}
.top_menu > a{
    font-weight: bold;
    padding:15px;
}
/*--navi-----------------------------------*/
.navi{
    position:relative;
    width: 1200px;
    margin: 0 auto 20px auto;
}
.main_nav{
    display: flex;
    justify-content:space-evenly;
    width: 1200px;
    height: 30px; 
    line-height: 30px;
    font-size: 16px;
    margin: 20px auto 20px auto;
}
.drop_absol{
    position:absolute;
    width: 1400px;
    height: 160px;
    z-index: 1;
    left: 15px;
    top: 100%;
    display: none;
}
.drop_menu{
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 160px;
    padding:5px 50px 0 50px;
    margin-top: 5px;
    background-color: rgba(0, 78, 52, 0.93);
    border-radius: 7px;
}
.drop_menu > ul{
    margin-top:5px;
}
.drop_menu > ul > li > a {
    color: #fff;
    margin-bottom: 10px;
    font-size: 13px;  
}
.drop_menu > ul:first-child{
    flex : 1.2;
    padding-left: 35px;
}
.drop_menu > ul:nth-child(2){
    flex : 1.5;
}
.drop_menu > ul:nth-child(3){
    flex : 1.7;
}
.drop_menu > ul:nth-child(4){
    flex :1.2;
    padding-left: 20px;
}
.drop_menu > ul:nth-child(5){
    flex : 1;
    padding-left: 30px;
}
.drop_menu > ul:last-child{
    flex : 1;
    padding-left: 30px;
}
.main_nav > a > h3:hover, .main_nav > a > h3:focus {
    color:#fff;
    height: 30px;
    background-color: #00704a;  /* rgb(208, 17, 43, 0.8)*/
}
.drop_absol ul > li > a:hover{
    font-size: 17px;
    /*font: weight 500px;*/
    font-weight:500;
    color:#ffd514;
    border-radius: 8px ;
}
.navi:hover .drop_absol{
    display: block;
}
.main_nav > a > h3{
    font-family: 'IBM Plex Sans KR', sans-serif;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #136735;
    text-shadow: 0 1px 1px rgb(0, 0, 0, 0.5);
    border-radius: 14px / 14px;
}
/*--banner-----------------------------------*/
.banner{
    position: relative;
}
.banner_img {
    width: 100%;
}

/*--main-contents-----------------------------------*/
.content{
    position: relative; 
    width: 1200px;
    margin : 50px auto 0 auto;
}
.new{ 
    position :relative;
    width: 1200px;
}
.new > h2{
    color :#136735;
    margin-left: 30px;
}
.box_1{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 420px;
    margin-top: 20px;
}
.box_1 > .b1{
    text-align: center;
    border: 1px solid rgba(175, 175, 175, 0.1);
    border-radius: 8px;
    margin: 0 10px 0 10px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
}
.b1 > p{
    font-size: 11px;
}
.b1 > .main_text{
    font-size: 16px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
    margin: 12px 0 12px 0;
}
.box_1 > .b1 > img{
    width: 268px;
    height: 250px;
    border-radius: 8px;
}
.box_1 > .b1 > h3
{
    width: 268px;
    height: 19px;
    margin:15px 0 15px 0;
}
.box_1 > .b1 > .b1_in_btn{
    font-family: 'IBM Plex Sans KR', sans-serif;
    /*text-shadow: 0 1px 1px rgb(0, 0, 0, 0.5);*/
    width: 130px;
    height: 25px;
    line-height: 25px;
    font-size : 11px;
    color:#838383;
    font-weight: bold;
    border-radius: 5px;
    border : 1px solid #b0b0b0;
    margin : 15px auto 0 auto;
}
.b1 > .b1_in_btn:hover{
   
    background-color: #ebf4e6;
    
} 
/*--footer-----------------------------------*/
.footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    height: 150px;
    margin-top:85px;
    padding: 30px 0 30px 0;
    background-color: rgb(227, 239, 219,0.7) ;
}
.f_link{
    width: 1200px;
    margin: 0 auto 20px auto;
}
.f_info{
    width: 1200px;
    margin:0 auto 20px auto;
    display: flex;
}
.f_copy{
    width: 1200px;
    margin:0 auto 0 auto;
}
.f_link > ul{
    display: flex;
}
.f_info>ul{
    padding-right: 20px;
}
.f_link > ul > a > li{
    margin-right: 5px ;
    font-size: 13px;
    font-weight: bold;
}
.f_info > ul > li{
    font-size: 12px;
    margin-right: 10px ;
    padding-top: 5px;
}
.f_copy{
    font-size: 10px;
}
/*-메인끝------------------------------------*/

/*- menu.html (메뉴 리스트 페이지)--------------------------------------*/
.menu_con{
    position: relative;
    width: 1200px;
    margin: 0 auto 0 auto;
}
.menu_banner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    width: 1070px;
}
.menu_banner > img{
    justify-content:flex-end;
    right: 0px;
}
.menu_banner > p{
    font-size: 43px;
    margin: auto 0 auto 0;
    padding-left: 50px;
    color: #2f2f2f;
    /* color: #813e13; */
}
.menu_val{
    position: relative;
    width: 1200px;
    
    /* margin: 35px auto 0 auto; */
}
.val_1 {
    width: 1000px;
    height: 300px;
    /* margin-bottom: 20px; */
    margin: auto;
}
.val_1 > ul{
    display: flex;
    justify-content: center;
}
.menu_item {
    width: 250px;
    height: 280px;
    text-align: center;
}
.menu_item > a > img{
    width: 150px;
    height: 150px;
}
.menu_item > a > img:hover{
    width:160px;
    height: 160px;
}
.menu_item > a > p{
    font-size: 15px;
    text-align: center;
    margin-top:25px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
    color: #3a3a3a;
}
.menu_item > a > h6{
    text-align: center;
    margin-top:5px;
    color: #9c9c9c;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
.menu_bar{
    width:1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.menu_bar > img{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/*- sub1_donuts.html (도넛 상세 페이지)--------------------------------------*/
.item_sub_con{
    width: 1200px;
    height: 520px;
    margin: 50px auto 0 auto;
}
.item_info{
    display: flex;
    justify-self: center;
    margin: 0 auto 0 auto;
    width: 1100px;
    height: 550px;
    border:1px solid rgb(138, 138, 138,0.1);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.1);
    /* background-color: rgb(255, 253, 237,0.5); */
}
.item_info> img{
    width: 330px;
    height: 330px;
    margin:auto 0 auto 50px;
}
.item_info > ul {
    padding-left: 60px;
    margin-top : 60px;
}
.item_info h4{
    margin-top: 5px;
    color: #777777;
    
}
.item_info p{
    font-size:20px;
    margin: 15px 0 45px 0;
}
.nutritional_info{
    width: 600px;
    height: 100px;
    font-size: 14px;
    border-top: 1px solid #b8b3a7;
    border-bottom: 1px solid #b8b3a7;
    text-align: center;
}
.nutritional_info td{
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.2);
    /*border-right:  1px solid #dbd5c7;*/
}
.item_info .nutritional_info_t{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.hotnowBtn{
    margin: 40px 0 0 90px;
}
